{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true // Add this line!
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "overrides": [],
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prefer-arrow-functions", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prefer-arrow-functions/prefer-arrow-functions": [
      "warn",
      {
        "classPropertiesAllowed": false,
        "disallowPrototype": false,
        "returnStyle": "explicit",
        "singleReturnOnly": false
      }
    ]
  }
}
